{% extends "base.html" %} {% block title %} About Us {% endblock title %} 
{% block body %}
<h3 class="text-center">About Us</h3>
<div class="container my-2">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col mx-auto"> <!-- Add mx-auto class here -->
          <div class="card shadow-sm">
            <img
              src="https://images.unsplash.com/photo-1607748862156-7c548e7e98f4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Z3JvdXB8fHx8fHwxNzA2Nzc5MjA3&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1200"
              class="d-block w-100"
              alt=""
            />
          </div>
          <div class="text-center" style="color: gray;">
            This is Django practise Website Created By Aayush Kalikote. Hope You enjoy the
            every moment in my website. 
            </div>
        </div>
      </div>
  </div>
  

{% endblock body %}
